{% extends 'layout.html.twig' %}

 {% block body%}
  <div class="row">
  <div class="col-sm-8 offset-2">
  <div class="card">
   <div class="card-header">Menú Principal</div>
   <div class="card-body">
    <h5 class="card-title text-center">Porfavor selecione una opcion de menu</h5>
    <p class="card-text"></p>
    <div class="row">
     <div class="col-sm-8 offset-2">
     <a href="#" class="btn btn-outline-primary btn-lg btn-block">Paciente </a>
     <a href="#" class="btn btn-outline-primary btn-lg btn-block">Cita </a>
     <a href="#" class="btn btn-outline-primary btn-lg btn-block">Consultas por especialida </a>
     </div>
    </div>
   </div>
  </div>
  </div>
  </div>
  </div>
 {% endblock %}