<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Menu{% endblock %}</title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        {#
        <br>
        <br>
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-10 offset-1">
                <div class="jumbotron">
                    <h1 class="display-4">Menú Principal</h1>
                </div>
            </div>
        </div>
        </div>
        #}
        <div class="container"><br>
            {% block body %}{% endblock %}
        </div>

    {% block js %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
