{% extends 'layout.html.twig' %}
{% block title %}Paciente{% endblock %}
 {% block body%}
     <div class="row">
         <div class="col-sm-10 offset-1">
             <div class="card">
                 <div class="card-header">
                     <a class="btn btn-secondary" href="{{ path('app_menu') }}">Menu Principal</a>
                     <a class="btn btn-primary" href="{{ path('cita_new') }}">Nueva Cita</a>
                 </div>
                 <div class="card-body">
                     <h5 class="card-title text-center">Listado de Pacientes Registrados </h5>
                     <p class="card-text"></p>
                     <div class="row">
                         <div class="col-sm-12">
                             {{ include ("cita/_index.html.twig", { 'citas':citas}) }}
                         </div>
                     </div>
                 </div>
                 <div class="card-footer">

                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
